.tag-input {
	overflow: visible;
	position: relative;

	.react-autosuggest__suggestions-container {
		position: absolute;
		bottom: 24px;
		border: 1px solid $gray-lightest;
		background-color: $white;
	}

	.react-autosuggest__suggestions-list {
		list-style: none;
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	.react-autosuggest__suggestion {
		margin: 0;
		padding: 4px 16px 0 4px;
	}

	.react-autosuggest__suggestion--focused {
		background: $blue-active-highlight;
		color: $white;
	}
}
